<section class="front-page container-fluid">
  
  <div class="row text-center">
    <div class="col-md-4 col-md-offset-4">
      
      <h1>Private Events</h1>
      <h2>Events management made easy.</h2>
      
      <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
      
    </div>
  </div>
  
</section>


<section class="container">
  
  <div class="row text-center">
    
    <div class="col-md-4">
      <div class="teaser">
        <h1>All in one place.</h1>
        <div class="teaser-icon"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></div>
        <p>Keep track of all your upcoming and past events in one app.</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="teaser">
        <h1>Share experiences.</h1>
        <div class="teaser-icon"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
        <p>Invite friends, accept invitations, share the joy.</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="teaser">
        <h1>Always accessible.</h1>
        <div class="teaser-icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
        <p>Access your events whenever you need.</p>
      </div>
    </div>
    
  </div>
  
</section>