<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-md-5">
          <p>Private Events by Hubert Pompecki. Visit my <%= link_to 'GitHub', 'https://github.com/hp-4k', target: '_blank' %> profile.</p>
        </div>
        <div class="col-md-7 text-right hidden-xs hidden-sm">
          <p>Developed as part of <%= link_to 'The Odin Project', 'http://www.theodinproject.com', target: '_blank' %>, an open source curriculum for teaching web development.</p>
        </div>
    </div>
  </div>
</footer>